a, a:visited {
  color: #3352ff;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 10px;
  text-align: center;
}

td {
  padding: 5px;
}

.feature-row {
  margin-top: 5px;
  border-top: 1px solid #cdcdcd;
}

.browser-first {
  border-left: 2px solid #cdcdcd;
}

.test-error {
  background: red;
}

.test-link {
  display: block;
  font-size: 0.9em;
  padding-top: 5px;
}

.test-ok {
  background: #3c3;
}
.test-faster {
  background: #1ab31a;
}

.test-slow {
  background: #ff3;
}


.test-no-support {
  background: #eee;
}