a, a:visited {
  color: #3352ff;
  text-decoration: none;
}

.dropdown-menu > li > a {
  margin-left: 20px;
}
.dropdown-menu .glyphicon-ok {
  font-size: 0.75em;
  padding-right: 10px;
  margin-left: -25px;
}

[data-toggle="tooltip"] > .glyphicon {
  font-size: 0.75em;
  vertical-align: text-top;
  color: #2C2E3A;
}
.tooltip-inner {
  white-space: pre-wrap;
  text-align: left;
}

.table thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 6px;
}


.feature-row {
  margin-top: 5px;
  border-top: 1px solid #cdcdcd;
}

.browser-first {
  border-left: 2px solid #cdcdcd;
}
.version-filter .browser-first {
  border-left: none;
}

.test-error {
  background: #F99;
}

.test-link {
  display: block;
  font-size: 0.9em;
  padding-top: 5px;
}

.test-ok {
  background: #CFC;
}
.test-faster {
  background: #9F9;
}

.test-slow {
  background: #FFB;
}


.test-no-support {
  background: #eee;
}