<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/> 
  </head>
  <body>
    <div id="info"></div>
    <button onclick="doIt()">Do It</button>
    {{#each scripts}}
      <script src="{{.}}" {{#if ../jsType}}type="{{../../jsType}}"{{/if}}></script>
    {{/each}}
  </body>
</html>
